<%= form_for(@nda) do |f| %>
  <% if @nda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nda.errors.count, "error") %> prohibited this nda from being saved:</h2>

      <ul>
      <% @nda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :nda %><br>
    <%= f.text_area :nda %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
