<%= form_for(@signed_document) do |f| %>
  <% if @signed_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signed_document.errors.count, "error") %> prohibited this signed_document from being saved:</h2>

      <ul>
      <% @signed_document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :document_id %><br>
    <%= f.text_field :document_id %>
  </div>
  <div class="field">
    <%= f.label :signer_name %><br>
    <%= f.text_field :signer_name %>
  </div>
  <div class="field">
    <%= f.label :signer_signature %><br>
    <%= f.text_field :signer_signature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
