<p id="notice"><%= notice %></p>

<h1>Listing Signed Documents</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Signer name</th>
      <th>Signer signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signed_documents.each do |signed_document| %>
      <tr>
        <td><%= signed_document.document %></td>
        <td><%= signed_document.signer_name %></td>
        <td><%= signed_document.signer_signature %></td>
        <td><%= link_to 'Show', signed_document %></td>
        <td><%= link_to 'Edit', edit_signed_document_path(signed_document) %></td>
        <td><%= link_to 'Destroy', signed_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signed document', new_signed_document_path %>
